%section.contact-page
  .container
    .text-center
      %h2 メッセージを残す
      %p 何かご意見がございましたらメッセージをお送りください
    .row.contact-wrap
      .col-md-6.col-md-offset-3
        #sendmessage Your message has been sent. Thank you!
        #errormessage
        = form_for @contact, :url => contact_confirm_path do |f|
          - if @contact.errors.any?
            .alert.alert-danger{:role => "alert"}
              %strong 入力内容にエラーがあります
              %ul
                - @contact.errors.each do |attr, msg|
                  %li
                    = msg
          .form-group
            = f.text_field :name, id: 'name',class: 'form-control', placeholder: 'Your Name'
            -# %input#name.form-control{"data-msg" => "Please enter at least 4 chars", "data-rule" => "minlen:4", :name => "name", :placeholder => "Your Name", :type => "text"}/
            .validation
          .form-group
            = f.text_field :email, id: 'email',class: 'form-control', placeholder: 'Your Email'
            -# %input#email.form-control{"data-msg" => "Please enter a valid email", "data-rule" => "email", :name => "email", :placeholder => "Your Email", :type => "email"}/
            .validation
          .form-group
            = f.text_field :phone, id: 'input',class: 'form-control', placeholder: 'Subject'
            -# %input#subject.form-control{"data-msg" => "Please enter at least 8 chars of subject", "data-rule" => "minlen:4", :name => "subject", :placeholder => "Subject", :type => "text"}/
            .validation
          .form-group
            = f.text_area :message, class: 'form-control', placeholder: 'Message'

            -# %textarea.form-control{"data-msg" => "Please write something for us", "data-rule" => "required", :name => "message", :placeholder => "Message", :rows => "5"}
            .validation
          .text-center
            = f.submit 'Submit', class: 'btn btn-primary btn-lg'
            -# %button.btn.btn-primary.btn-lg{:name => "submit", :required => "required", :type => "submit"}
              Submit
              Message